@charset "UTF-8";

html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  text-decoration: none; 
  transition: all .6s ease;
}

a:hover { 
  transition: all .6s ease;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}

section h2 {
  font-size: 2rem;
}

  /* top/topics */

  .topics .content-wrapper{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .topics .heading{
    width: 35%;
    text-align: center;
  }

  .topics .content{
    width: 65%;
  }

  .topics  table{
    width: 100%;
  }

  .topics .content th{
    padding: 20px 2em 20px 0;
    border-bottom: 1px dotted;
  }

  .topics .content td{
    border-bottom: 1px dotted;
  }

  .topics .content tr:last-of-type th,
  .topics .content tr:last-of-type td{
    border-bottom: none;
  } 

  .topics .content .btn{
    margin: 0;
  }

  .topics .content .btn a {
    display: block;
    font-size: 0.8rem;
    color: #000;
    border: 1px solid #000;
    width: 200px;
    line-height: 60px;
    text-align: center;
    margin: 0 0 0 auto;
    }

    .topics .content .btn a:hover{
      background: #333;
      color: #fff;
    }

    @media screen and (max-width: 1199px){
      .topics{
        padding: 50px 5vw;
      }

      .topics .content-wrapper{
        display: block;
      }

      .topics .heading{
        width: 100%;
      }

      .topics .heading h2{
        text-align: center;
        margin-bottom: 5px;
      }

      .topics .content{
        width: 100%;
      }

    }

    @media screen and (max-width: 767px){
      .topics {
        padding: 50px 0;
        width: 90%;
        margin:  auto;
      }

      .topics .content. .btn a{
        width: 35%;
        max-width: 200px;
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 479px){
      .topics .content th{
        display: block;
        width: 100%;
        text-align: left;
        padding: 1.25em 0 0 0;
        border-bottom: 0;
      }

      .topics .content td{
        display: block;
        width: 100%;
      }
    }
